<p>
  <%= link_to "Back", show_journals_path(@issue.id) %>
</p>

<h3>Update Journal #<%= @journal.id%> of Issue #<%= @issue.id%></h3>

<h4>Journal properties:</h4>

<%= form_for :journal, url: update_journal_path(@issue, @journal), method: :put do |f| %>
    <p><%= f.label "Notes: " %> <%= f.text_area :notes, cols: "30", rows: "2" %></p>
    <p><%= f.label "Created on: " %> <%= f.datetime_select :created_on %></p>
    <%= f.submit 'Update Journal' %>
<% end %>

<br><br><br>
<h4>Journal details:</h4>

<% @jdetails.each do |jdetail| %>
  <%= form_for :jdetail, url: update_journal_details_path(@issue, @journal, jdetail), method: :put do |f| %>
    <p>Journal Detail id: <%= jdetail.id%> </p>
    <p><%= f.label "Property: " %> <%= f.text_field :property, :value => jdetail.property %></p>
    <p><%= f.label "Property key: " %> <%= f.text_field :prop_key, :value => jdetail.prop_key %></p>
    <p><%= f.label "Old value: " %> <%= f.text_area :old_value, :value => jdetail.old_value, cols: "30", rows: "2" %></p>
    <p><%= f.label "Value: " %> <%= f.text_area :value, :value => jdetail.value , cols: "30", rows: "2" %></p>
    <%= f.submit 'Update Journal Details' %>
  <% end %>
  <br><br>
<% end %>
